<header id="app-header">

    <div id="dragable-region">


        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu"></mat-menu> -->

        <div id="window-controls">

            <!-- <script>
                const electron = require('electron');
            </script> -->
    
            <app-winctrl-min class="winctrls"></app-winctrl-min>
            <app-winctrl-max class="winctrls"></app-winctrl-max>
            <app-winctrl-close class="winctrls"></app-winctrl-close>
            
        </div>
    </div>

    

</header>