// Color Palette
$primary       : #455a64;
$primary-light : #cfd8dc;
$primary-dark  : #212121;

$accent        : #ff5252;
$warn          : #f44336;
$divider       : #bdbdbd;

$primary-text  : #ffffff;
$secondary-text: #757575;


$secondary       : #ff5722;
$secondary-light : #ff8a50;
$secondary-dark  : #c41c00;
// -------------

// Structure Size
$app-header-height: 22px;
$app-footer-height: 128px;
// -------------

// App Footer Size
$preset-selector-width: 50px;

// Icon Size
$addq-ico-size : 1.25;
$dl-ico-size   : 2.5;
$preset-settings-ico-size: 0.9;
// -------------
