<h2 mat-dialog-title>Preset Configuration</h2>

<mat-dialog-content>
    <mat-label>Preset</mat-label>

    <mat-select>
    <mat-option *ngFor="let preset of presets" value="{{preset.id}}" label="{{preset.name}}">
        {{preset.name}}
        <!-- <mat-icon class="type-ico" matSuffix>
        {{preset.type == "audio" ? "music_note" : "video_label"}}
        </mat-icon> -->
    </mat-option>
    </mat-select>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>

