<mat-card *ngFor="let item of queue.getItems()">

    <!-- THUMBNAIL -->
    <img class="thumbnail" src="{{queue.getThumbnailURL(item)}}">

    <!-- INFO -->
    <mat-card-content>{{item.name}}</mat-card-content>

    <!-- PLAYLIST SUB INFO -->
    <mat-card-content>

        <div *ngIf="item.isPlaylist;else videoblock">
            Playlist
        </div>
        <ng-template #videoblock>
            Video
        </ng-template>

    </mat-card-content>

    <!-- CONTROLS -->
    <mat-card-content>

    </mat-card-content>

    <!-- STATUS -->
    <mat-card-content class="status-content">
        <mat-progress-spinner class="list-progress" mode="determinate" value="{{queue.getListProgress(item)}}"></mat-progress-spinner>
        <mat-progress-spinner class="item-progress" mode="determinate" value="{{item.progress}}"></mat-progress-spinner>
        <div class="progress-text">
            <p>{{item.progress}}%</p>
            <p *ngIf="item.isPlaylist">{{item.listProgress}}/{{item.listLength}}</p>
        </div>
    </mat-card-content>
</mat-card>