<mat-card *ngFor="let item of items">

    <!-- THUMBNAIL -->
    <img class="thumbnail" src="{{item.img_src}}">

    <!-- INFO -->
    <mat-card-content>{{item.name}}</mat-card-content>

    <!-- PLAYLIST SUB INFO -->
    <mat-card-content>
        <div *ngIf="">

        </div>
        <div #elseblock>

        </div>

    </mat-card-content>

    <!-- CONTROLS -->
    <mat-card-content>

    </mat-card-content>

    <!-- STATUS -->
    <mat-card-content>
        
    </mat-card-content>
</mat-card>