// Color Palette
$primary       : #616161;
$primary-light : #8e8e8e;
$primary-dark  : #373737;

$secondary       : #ff5722;
$secondary-light : #ff8a50;
$secondary-dark  : #c41c00;
// -------------

// Structure Size
$app-header-heigth: 32px;
$app-footer-heigth: 128px;
// -------------

// Icon Size
$addq-ico-size : 1.25;
$dl-ico-size   : 2.5;
// -------------
